@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Fira+Sans:wght@500;800&family=Lora&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Fira+Sans:wght@500;800&family=Gabarito&family=Lora&family=Ubuntu&display=swap');
*{
    font-family: 'Gabarito';

}

body{
    margin: 0px;
    padding: 0px;
    background-color: white;
}
header{
    font-family: 'Dela Gothic One', cursive;
    background-color: rgb(24, 24, 24);
    color: rgb(245, 245, 245);
    font-size: 2em;
    padding: 0.5em;
    text-align: center; 
}
nav{
    list-style: none;
    display: flex;
    
    background-color: rgb(24, 24, 24);
    color: rgb(245, 245, 245);
    
}
nav ul{
    list-style: none;
    display: flex;
    background-color: rgb(24, 24, 24);
    margin: auto;
    
}
nav ul li{
    padding: 1em;
    
}
nav ul li:hover{
    cursor: pointer;
    background-color: rgb(95, 41, 221);
}
h3{
    margin: 0.5em;
}